<footer class="global-footer">
  <div class="container">
      <div class="row">
          <div class="col-6 col-md-3">
              <h6>Developers</h6>
              <ul class="list-unstyled">
                  <li><a href="https://en.opensuse.org/Kubic">Documentation</a></li>
                  <li><a href="https://build.opensuse.org/">Build service</a></li>
                  <li><a href="https://bugzilla.opensuse.org/">Bugzilla</a></li>
                  <li><a href="https://github.com/kubic-project">Github</a></li>
              </ul>
          </div>
          <div class="col-6 col-md-3">
              <h6>Information</h6>
              <ul class="list-unstyled">
                  <li><a href="https://news.opensuse.org/">News</a></li>
                  <li><a href="https://events.opensuse.org/">Events</a></li>
                  <li><a href="http://planet.opensuse.org/">Planet</a></li>
                  <li><a href="https://shop.opensuse.org/">Shop</a></li>
              </ul>
          </div>
          <div class="col-6 col-md-3">
              <h6>Community</h6>
              <ul class="list-unstyled">
                  <li><a href="https://forums.opensuse.org/">Forums</a></li>
                  <li><a href="https://www.facebook.com/groups/opensuseproject/">Facebook group</a></li>
                  <li><a href="https://en.opensuse.org/openSUSE:Mailing_lists_subscription">Mail lists</a></li>
                  <li><a href="https://en.opensuse.org/openSUSE:IRC_list">IRC channels</a></li>
              </ul>
          </div>
          <div class="col-6 col-md-3">
              <h6>Social Media</h6>
              <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/en.openSUSE">Facebook</a></li>
                  <li><a href="https://twitter.com/opensuse">Twitter</a></li>
                  <li><a href="https://www.youtube.com/user/opensusetv">YouTube</a></li>
                  <li><a href="https://t.me/opensusenews">Telegram</a></li>
              </ul>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          Visit <a href=https://github.com/kubic-project/kubic-o-o> to provide enhancements or open issues about this page.</a><br>
          © 2011–2018 openSUSE contributors. License: <a href=https://www.gnu.org/licenses/fdl.txt>GNU FDL v1.3 or later</a>.
        </div>
      </div>
  </div>
</footer>
