<nav id="global-navbar" class="navbar navbar-expand-sm navbar-dark bg-dark">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="https://www.opensuse.org/">
		<img src="https://www.opensuse.org/build/images/opensuse-logo.png" width="48" height="30" class="d-inline-block align-top" alt="openSUSE Logo">
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" lang="en" href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Kubic-DVD-x86_64-Current.iso">Download x86_64 ISO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" lang="en" href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Kubic-DVD-aarch64-Current.iso">Download AArch64 ISO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" lang="en" href="https://en.opensuse.org/Portal:Kubic">Wiki</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" lang="en" href="https://forums.opensuse.org/">Forums</a>
			</li>
		</ul>
	</div>
</nav>
